<!DOCTYPE html>
<html> 
    <head>
        <title>
            Congratulations!
        </title>
    </head>
    
    <body>
    
        <div id="container">
            <div class="pagetitle">
                <h1>You're now a user for KidsCredit</h1>
            </div>
            <div id="main">
                <p>Thanks for your submission, {{firstname}}!</p>
                <p>Here's your account details:</p>
                <p>
                    <strong>First Name: </strong>: {{firstname}} <br>
                    <strong>Last Name: </strong>: {{lastname}} <br>
                    <strong>Username: </strong>: {{username}} <br>
                </p>
            </div>
        </div>
        
    </body>

</html>